extends layout

block content
  h1= title
  p Welcome to #{title}
  h2= '本示例 Github 源码地址'
  a(href="https://github.com/codeDaiQin/mmc-services") https://github.com/codeDaiQin/mmc-services
  h2='萌萌手抓饼团队毕业设计 By 毛毛虫'
  img(src="logo.jpg", alt="萌萌手抓饼" style='width: 100px' )